/* Founders Map Quest main override css */
/* Copyright Manuel Fernández Yáñez 2015 /*

/* DataTables Founders Map Quest personalization */ 

.latitudecolumn {
            color: red;
        }
        
        .longitudecolumn {
            color: blue;
        }
        
        html,
        body,
        #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px
        }
        
        #progress_bar {
            margin: 10px 0;
            padding: 3px;
            border: 1px solid #000;
            font-size: 14px;
            clear: both;
            opacity: 0;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            -webkit-transition: opacity 1s linear;
        }
        
        #progress_bar.loading {
            opacity: 1.0;
        }
        
        #progress_bar .percent {
            background-color: #99ccff;
            height: auto;
            width: 0;
        }

/*Set table width */

#example {
    width: 100%!important;
}

#selectcsv {
    color: black;
}

/* Greenish table background */

#example tr  { background-color: #3B3B3B;}

/* Select fields CSV */

#csvmapmarkerfield {
    color:black;  
    size:20;
}

#csvlonfield {
    color:black;
    size: 20;
}

#csvlatfield {
    color:black;
    size:20;
}

/* user menu settings  */
.questdropdown { 
  
  
  margin: 0 auto;
  
  cursor: pointer;
  border-left: 4px solid #739cda;
  background: #fff;
  font-size: 1em;
  color: #656565;
  font-weight: normal;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.questdropdown:hover { color: #898989; }

.questdropdown.open {
  background: #5a90e0;
  color: #fff;
  border-left-color: #6c6d70;
}

.questdropdown ul { 
  position: absolute;
  top: 100%;
  left: -4px; /* move content -4px because of container left border  */
  width: 266px;
  padding: 5px 0px;
  display: none;
  border-left: 4px solid #8e9196;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.questdropdown ul li { font-size: 0.9em; }

.questdropdown ul li a { 
  text-decoration: none;
  display: block;
  color: #447dd3;
  padding: 7px 15px;
}
.questdropdown ul li a:hover {
  color: #6fa0e9;
  background: #e7f0f7;
}