 .latitudecolumn {
            color: red;
        }
        
        .longitudecolumn {
            color: blue;
        }
        
        html,
        body,
        #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px
        }
        
        #progress_bar {
            margin: 10px 0;
            padding: 3px;
            border: 1px solid #000;
            font-size: 14px;
            clear: both;
            opacity: 0;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            -webkit-transition: opacity 1s linear;
        }
        
        #progress_bar.loading {
            opacity: 1.0;
        }
        
        #progress_bar .percent {
            background-color: #99ccff;
            height: auto;
            width: 0;
        }
#example {
    width: 100%!important;
}

#selectcsv {
    color: black;
}

#example tr:odd { background-color:  red; }
#example tr:even { background-color: green;}

#example tr  { background-color: green;}